@import "constants/_dimensions.scss";
@import "constants/_colors.scss";
@import "constants/_typography.scss";

.rest-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .rest-hero {
    width: 1186px;
    height: 425px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .rest-name {
    font-size: 56px;
    font-family: "helveticaRoman";
  }
  .rest-chef-name {
    font-size: 32px;
    font-family: "helveticaThin";
  }
  .open-now-container {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 8px;
    .open-now {
      margin: 8px auto;
      text-transform: capitalize;
    }

    img {
      width: 17px;
      height: 18px;
    }
  }
  .rest-dish-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    width: 1186px;
  }
}
