$PRIMARY_GREY: #979797;
$PRIMARY_BLACK: #000000;
$PRIMARY_WHITE: #fff;
$SECONDARY_BEIGE: #f9f4ea;
$SECONDARY_YELLOW: #e19d1a;
$SECONDARY_GREY: #fafafa;
$BORDER_GREY: #ccc;
$INPUT_FOCUS_GREY: #929292;
