@font-face {
  font-family: "helveticaThin";
  src: url("../assets/fonts/HelveticaNeueThin.otf") format("opentype");
}

@font-face {
  font-family: "helveticaRegular";
  src: url("../assets/fonts/HelveticaNeueMedium.otf") format("opentype");
}
@font-face {
  font-family: "helveticaRoman";
  src: url("../assets/fonts/HelveticaNeueRoman.otf") format("opentype");
}
