@import "constants/_colors.scss";

// /* the slides */
// .slick-slide {
//   margin: 0 10px;
// }

// /* the parent */
// .slick-list {
//   margin: 0 -10px;
// }

.card-slider {
  width: 80%;
  height: 350px;
  margin: 30px auto;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-image-container {
  width: 100%;
  height: 150px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text-container {
  background-color: $SECONDARY_BEIGE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin: 10px 30px;
}

.dish-icon {
  height: 31px;
  width: 40px;
}

.dish-price {
  width: 100%;
  text-align: center;
  border-bottom: 0.1px solid $PRIMARY_GREY;
  line-height: 0.1em;
  margin: 10px 0 20px;
  span {
    background: $SECONDARY_BEIGE;
    padding: 0 10px;
  }
}

.ingredients {
  margin: 5px 20px;
  font-size: 12px;
  height: 45px;
}

.card-rating {
  color: $SECONDARY_YELLOW;
  font-weight: bold;
}

.slick-prev,
.slick-next {
  &::before {
    color: $SECONDARY_YELLOW;
  }
}
