@import "constants/_colors.scss";
@import "constants/_dimensions.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  @include mobile {
    z-index: 101;
    width: 100vw;
    height: 100%;
  }

  .dish-modal {
    background-color: $PRIMARY_WHITE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      top: 0;
      left: 0;
      z-index: 102;
      align-items: flex-start;
      width: 375px;
    }

    .modal-dish-image {
      height: 292px;
      object-fit: cover;
      @include desktop {
        width: 573px;
      }
      @include mobile {
        margin-top: 46px;
        height: 271px;
        width: 375px;
      }
    }
    .modal-text-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      @include mobile {
        align-items: flex-start;
        padding-left: 20px;
      }
    }

    .modal-dish-info {
      display: flex;
      flex-direction: column;
      gap: 14px;
      justify-content: center;
      align-items: center;

      @include mobile {
        align-items: flex-start;
      }

      .modal-dish-name {
        font-size: 32px;
        font-family: "helveticaRoman";
        margin-top: 40px;
        @include mobile {
          font-size: 18px;
          margin-top: 32px;
        }
      }
      .modal-ingredients {
        font-family: "helveticaThin";
        font-size: 14px;
        width: 232px;
        margin: 0;
        @include mobile {
          text-align: left;
          font-size: 16px;
        }
      }
      .modal-icon {
        width: 40px;
        height: 29px;
        object-fit: contain;
        @include mobile {
          display: none;
        }
      }
      .modal-price {
        width: 232px;
        text-align: center;
        border-bottom: 0.1px solid $PRIMARY_GREY;
        line-height: 0.01em;
        margin: 10px 0 20px;

        @include mobile {
          display: none;
        }
        .shekel-symbol {
          width: 10px;
          height: 10px;
          margin: 0;
        }
        span {
          background: $PRIMARY_WHITE;
          padding: 0 10px;
        }
      }
    }

    .choose-side,
    .dish-changes,
    .quantity {
      font-family: "helveticaThin";
      width: 190px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input {
        margin-right: 12px;
      }
    }

    .choose-title {
      align-self: center;
      border-bottom: 2px solid $UNDERLINE_ORANGE;
      font-size: 20px;

      @include desktop {
        margin: 40px auto 24px;
      }
      @include mobile {
        align-self: flex-start;
        margin: 40px 20px 30px 0;
      }
    }

    .input-label-container {
      accent-color: $PRIMARY_BLACK;

      &:nth-child(1) {
        margin-bottom: 24px;
      }

      input[type="radio"],
      input[type="checkbox"] {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
    .checkbox {
      background: transparent;
      accent-color: $PRIMARY_WHITE;
      border-color: $PRIMARY_BLACK;
    }

    .quantity {
      font-family: "helveticaThin";
      width: 190px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mobile {
        align-items: flex-start;
      }

      .choose-title {
        align-self: center;
        border-bottom: 2px solid $UNDERLINE_ORANGE;
        margin-bottom: 24px;
        @include mobile {
          align-self: flex-start;
        }
      }

      .counter-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          width: 50px;
          font-size: 16px;
          text-align: center;
          margin: 0 10px;
          border: none;
        }

        button {
          background-color: $PRIMARY_WHITE;
          color: $PRIMARY_BLACK;
          border: none;
          width: 30px;
          height: 30px;
          cursor: pointer;
          font-size: 16px;
          margin: 0 5px;

          &:disabled {
            background-color: $PRIMARY_WHITE;
            cursor: not-allowed;
          }
        }
      }

      .add-to-cart-btn {
        background-color: $PRIMARY_BLACK;
        color: $PRIMARY_WHITE;
        border: none;
        width: 100%;
        height: 48px;
        cursor: pointer;
        font-size: 16px;
        letter-spacing: 2.67px;
        text-transform: uppercase;
        align-self: center;
        margin: 40px auto 28px;
        padding: 0;
      }
    }
    .modal-close-btn-desktop,
    .modal-close-btn-mobile {
      position: absolute;
      top: -25px;
      left: 0;
      background-color: transparent;
      border: none;
      color: $PRIMARY_WHITE;
      font-size: 18px;
      cursor: pointer;
      padding: 0;
      @include mobile {
        top: 13px;
        left: 22px;
      }
    }

    .modal-close-btn-desktop {
      @include mobile {
        display: none;
      }
    }
    .modal-close-btn-mobile {
      @include desktop {
        display: none;
      }
    }
  }
}
