@import "constants/_colors.scss";
@import "constants/_dimensions.scss";

.navigation-menu {
  display: flex;
  justify-content: center;
  width: 100vw;
  list-style-type: none;
  padding: 0;
  margin: 30px auto 20px;

  @include desktop {
    gap: 35px;
  }

  @include mobile {
    justify-content: flex-start;
    gap: 19px;
    padding: 10px 0;
    margin: 10px 20px 0;
    line-height: 0;
  }

  .nav-item {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: $PRIMARY_BLACK;
    text-transform: capitalize;
    text-decoration-color: transparent;
    color: $PRIMARY_BLACK;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1.92px;
    transition: 0.4s;
    line-height: 0;
    cursor: pointer;

    &:focus {
      text-underline-position: under;
      box-shadow: 0 2px 0 $HOVER_LINK;
    }
    &.checked {
      font-family: "helveticaRoman";
    }

    @include mobile {
      font-size: 17px;
      &.checked {
        padding-bottom: 10px;
        text-underline-position: under;
        box-shadow: inset 0 -2px 0 $HOVER_LINK;
      }
    }
  }
}
