@import "../constants/dimensions";

.footer-desktop-container {
  display: flex;
  margin-top: auto;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 84px;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.footer-text-container {
  display: flex;
  gap: 40px;
}
