@import "constants/dimensions";
@import "constants/_colors.scss";

.footer-container {
  flex-shrink: 0;
  background-color: $PRIMARY_WHITE;

  @include mobile {
    display: flex;
    justify-content: flex-start;
  }
  @include desktop {
    display: none;
  }
}

.text-container {
  height: 146px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 19px;
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.92px;
  margin: 0;
}
