@import "constants/mixins";
@import "constants/dimensions";
@import "constants/_colors.scss";

.hero-container {
  background-image: url("../assets/images/layout/desktop-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.hero-search-container {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  font-size: 20px;
  font-weight: 200;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  flex-shrink: 0;
  outline: none;
  justify-content: space-between;

  &:focus {
    outline: none;
  }
  @include mobile {
    width: 335px;
    padding: 30px 10px;
  }
  @include desktop {
    position: relative;
    height: 200px;
    width: 550px;
    padding: 40px 20px;
  }
}

.search-container-desktop {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 6px 12px;
  border: 0.5px solid #000;
  border-radius: 4px;

  @include desktop {
    position: absolute;
    top: 130px;
  }
}

.input-field {
  background-color: transparent;
  font-size: 14px;
  width: 240px;
  outline: none;

  &::placeholder {
    color: $PRIMARY_BLACK;
  }
  &:focus::placeholder {
    outline: none;
    color: $INPUT_FOCUS_GREY;
  }
}

.hero-text {
  margin: 0 100px;

  @include mobile {
    margin: auto;
    margin-bottom: 10px;
  }
}

.search-list {
  font-size: 14px;
  padding: 10px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $PRIMARY_WHITE;
  list-style: none;
  gap: 5px;

  @include desktop {
    position: inherit;
    top: 76px;
  }
}
