@import "constants/_colors.scss";
@import "constants/_dimensions.scss";

.meaning-container {
  margin: 20px auto;
  background-color: $SECONDARY_GREY;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 100;

  @include mobile {
    margin: 46px auto;
  }

  @include desktop {
    height: 265px;
  }
}

.meaning-title {
  text-transform: uppercase;

  @include mobile {
    font-size: 18px;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    height: fit-content;
  }

  @include desktop {
    width: 488px;
  }
}

.image-text-container {
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
