@import "constants/dimensions";
@import "constants/_colors.scss";

.burger-menu {
  display: flex;
  @include desktop {
    display: none;
  }
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  display: block;
  position: relative;
  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
  }
  .hamburger-lines {
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .line {
      display: block;
      height: 2px;
      border-radius: 10px;
      background: #0e2431;
    }
    .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    .line2 {
      transition: transform 0.2s ease-in-out;
    }
    .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }
  input[type="checkbox"] {
    &:checked {
      ~ {
        .menu-items {
          transform: translateX(0);
        }
        .hamburger-lines {
          .line1 {
            transform: rotate(45deg) translate(5px, -1px);
          }
          .line2 {
            transform: scaleY(0);
          }
          .line3 {
            transform: rotate(-45deg) translate(5px, 1px);
          }
        }
        .logo {
          display: none;
        }
      }
    }
  }
}
.navbar {
  display: flex;
  padding: 0;
  .menu-items {
    background-color: $PRIMARY_WHITE;
    position: fixed;
    width: 100%;
    padding-top: 350px;
    transform: translate(-200%);
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease-in-out;
    text-align: center;
    inset-inline-start: 0;
    z-index: 6;
    li {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  .nav-container {
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2rem;
      &:hover {
        font-weight: bolder;
      }
    }
  }
}

.br-line {
  width: 100%;
  height: 1px;
  background: #f2f2f2;
}
