@import "constants/_colors.scss";
@import "constants/_dimensions.scss";

.cart-container {
  position: absolute;
  top: 62px;
  right: -130px;
  width: 497px;
  height: 586px;
  background-color: $PRIMARY_WHITE;
  border: 1px solid red;
  z-index: 103;
  .cart-dish-image {
    width: 100px;
  }
}
