@import "constants/_colors.scss";
@import "constants/_dimensions.scss";

.cart-container {
  position: absolute;
  top: 62px;
  right: -130px;
  width: 497px;
  background-color: $PRIMARY_WHITE;
  z-index: 103;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 0 37px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  @include mobile {
    height: 218px;
    width: 380px;
    right: 0;
  }

  .full-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 780px;
    background-color: $PRIMARY_WHITE;

    @include mobile {
      height: 514px;
      width: 100%;
    }

    .your-order-text {
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      margin-bottom: 57px;
      @include mobile {
        font-size: 20px;
        margin-bottom: 43px;
      }
    }
    .cart-rest-name {
      font-size: 18px;
      text-transform: capitalize;
    }
    .cart-items-container {
      width: 390px;
      height: 250px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style-type: none;
      padding: 0;
      padding-left: 5px;
      overflow-y: scroll;
      direction: rtl;
      @include mobile {
        width: 340px;
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 160px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #97979780;
        border-radius: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 6px;
      }

      .cart-item {
        width: 100%;
        height: 96px;
        display: flex;
        flex-direction: row-reverse;
        background-color: $SECONDARY_BEIGE;
        position: relative;

        .cart-dish-image {
          width: 110px;
          height: 100%;
        }

        .cart-item-info {
          display: flex;
          flex-direction: column;
          @include mobile {
            height: 90px;
          }
          .quantity-dish-name-container {
            display: flex;
            flex-direction: row-reverse;
            .cart-dish-name {
              font-size: 18px;
              font-family: "helveticaRoman";
              margin-top: 12px;
              margin-bottom: 0;
              @include mobile {
                line-height: normal;
                margin-top: 15px;
              }
            }
            .cart-dish-quantity {
              display: flex;
              border: 1px solid $PRIMARY_GREY;
              width: 31px;
              height: 31px;
              border-radius: 4px;
              color: $UNDERLINE_ORANGE;
              line-height: 18px;
              padding: 6px 10px;
              font-size: 18px;
              margin: 15px 12px 11px 24px;
              text-align: center;
              justify-content: center;
              align-items: center;
            }
          }

          .side-changes-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: start;
            margin-left: 24px;
            @include mobile {
              width: 200px;
              margin-top: -4px;
            }
            .cart-dish-side,
            .cart-dish-changes {
              font-size: 12px;
              color: $PRIMARY_GREY;
              margin-left: 2px;
              @include mobile {
                font-size: 10px;
              }
            }
            .separator {
              color: $PRIMARY_GREY;
              margin-top: -5px;
              margin-left: 2px;
            }
          }
          .cart-dish-price {
            position: absolute;
            bottom: 3px;
            right: 12px;
          }
        }
      }
    }
    .total-price {
      font-size: 24px;
      margin: 24px 0 30px;
      width: 232px;
      text-align: center;
      border-bottom: 0.1px solid $PRIMARY_GREY;
      line-height: 0.01em;
      span {
        background: $PRIMARY_WHITE;
        padding: 0 12px;
      }
      @include mobile {
      }
    }

    .big-comment-container {
      text-align: center;
      @include mobile {
        display: none;
      }
      .add-comment {
        font-size: 18px;
        text-transform: capitalize;
        letter-spacing: 1.97px;
        font-family: "helveticaRoman";
      }
      .comment-container {
        margin-top: 20px;
        width: 358px;
        height: 122px;
        border: 0.6px solid $PRIMARY_GREY;
        input {
          padding-left: 9px;
          font-size: 12px;
          color: $PRIMARY_GREY;
          width: 100%;
          border: none;
        }
      }
    }
  }

  .empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 586px;
    .order-history-btn {
      width: 206px;
      height: 48px;
      text-transform: uppercase;
      letter-spacing: 2.67px;
      position: absolute;
    }
    .order-history-btn {
      background-color: $PRIMARY_WHITE;
      color: $PRIMARY_BLACK;
      bottom: 44px;
      left: 145px;

      @include mobile {
        display: none;
      }
    }

    .empty-cart-image {
      width: 49px;
      height: 49px;
    }
    .cart-empty-text {
      font-family: "helveticaThin";
      font-size: 16px;
      text-transform: uppercase;
      width: 120px;
      height: 40px;
      text-align: center;
      margin-top: 16px;
    }
  }
  .cart-btn-container {
    .order-history-btn,
    .checkout-btn {
      width: 206px;
      height: 48px;
      text-transform: uppercase;
      letter-spacing: 2.67px;
      cursor: pointer;
      @include desktop {
        position: absolute;
      }
    }
    .order-history-btn {
      background-color: $PRIMARY_WHITE;
      color: $PRIMARY_BLACK;
      bottom: 44px;
      left: 145px;

      @include mobile {
        display: none;
      }
    }
    .checkout-btn {
      color: $PRIMARY_WHITE;
      background-color: $PRIMARY_BLACK;
      left: 145px;
      bottom: 105px;
      @include mobile {
        margin-bottom: 24px;
      }
    }
  }
}
