@import "constants/_dimensions";
@import "constants/_colors";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: $PRIMARY_WHITE;
  margin-right: 20px;
  @include desktop {
    justify-content: space-between;
    padding: 14px 0;
    margin: 0 128px;
    position: relative;
  }
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.logo-text {
  color: $PRIMARY_BLACK;
  font-family: "helveticaThin";
  font-size: 27px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  text-decoration: none;
  align-self: flex-end;

  &:hover {
    text-decoration: none;
    color: $PRIMARY_BLACK;
  }

  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.logo-container {
  display: flex;
  gap: 32px;
  align-items: center;
  @include mobile {
    margin-right: -100px;
  }
}

.search-bigger-container {
  @include mobile {
    background-color: $PRIMARY_WHITE;
    width: 100vw;
    position: absolute;
    height: 300px;
    z-index: 5;
    box-shadow: 0 4px 2px -2px gray;
  }
}

.restaurants-chefs-container {
  display: none;
  gap: 32px;

  .link {
    text-decoration-color: transparent;
    color: $PRIMARY_BLACK;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.92px;
    transition: 0.4s;

    &:hover {
      text-underline-position: under;
      box-shadow: 0 2px 0 $HOVER_LINK;
    }

    &.active {
      text-underline-position: under;
      box-shadow: 0 2px 0 $HOVER_LINK;
    }
  }
  @include desktop {
    display: flex;
  }
}

.mobile-search-container {
  height: 300px;
  z-index: 1;
}
