@import "constants/_dimensions";
@import "constants/_colors";

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  flex-shrink: 0;
  background-color: $PRIMARY_WHITE;
  @include desktop {
    justify-content: space-around;
    padding: 20px 40px;
  }
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.header-logo {
  width: 32px;
  height: 32px;
}

.logo-text {
  color: $PRIMARY_BLACK;
  font-family: Helvetica Neue;
  font-size: 27px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

//desktop
.logo-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.input-search-field-container-mobile,
.input-search-field-container-desktop {
  display: flex;
  width: 334px;
  height: 30px;
  padding: 6px 12px;
  margin: 0 auto;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 0.5px solid $PRIMARY_BLACK;
  outline: none;
  transition: transform 0.5s ease-in-out;

  &:focus {
    outline: none;
  }
}

.input-search-field-container-mobile {
  background-color: $PRIMARY_WHITE;
  @include desktop {
    display: none;
  }
}

.input-search-field-container-desktop {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.input-field {
  border: none;
  width: 250px;
  margin-left: 20px;

  &::placeholder {
    color: $INPUT_FOCUS_GREY;
  }
}

.search-container {
  display: flex;
}

.restaurants-chefs-container {
  display: none;
  gap: 32px;

  .link {
    text-decoration-color: transparent;
    color: $PRIMARY_BLACK;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.92px;
    transition: 0.4s;

    &:hover {
      text-underline-position: under;
      box-shadow: 0 2px 0 $HOVER_LINK;
    }
  }
  @include desktop {
    display: flex;
  }
}
