@import "../../constants/dimensions";

.text2-container {
  height: 68px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 19px;
  background-color: white;

  @include desktop {
    display: none;
  }
}

h3 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.92px;
  margin: 0;
}
