.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/desktop-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
